VITE_SUPABASE_URL=https://aupbkufkadsahujihpxb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1cGJrdWZrYWRzYWh1amlocHhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NTQwOTksImV4cCI6MjA5NDMzMDA5OX0.IMj-qFE4k1KvPafe12kxT9MR108A36JrgOEm_TxJpiA
